[submodule "GroundingDINO"]
	path = GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO.git
[submodule "yolov7"]
	path = yolov7
	url = https://github.com/WongKinYiu/yolov7.git
[submodule "reason_navi/data/versioned_data/hab_fetch"]
	path = reason_navi/data/versioned_data/hab_fetch
	url = https://huggingface.co/datasets/ai-habitat/hab_fetch.git
